.product-page {
  min-height: 700px;
  height: 100vh;
}

.content-wrapper {
  width: 100%;
  max-width: 1500px;
  margin: auto;
  overflow: hidden;
  background: #fff;

  .image-wrapper {
    width: 65%;
    float: left;
    position: relative;
  }

  .text-wrapper {
    width: 35%;
    float: left;
    position: relative;
    top: 20%;
    left: 30px;
    font-family: Lato;
    z-index: 1;
  }

  .text-wrapper h2,
  .text-wrapper-bottom h2 {
    font-size: 32px;
    font-weight: normal;
    white-space: nowrap;
  }

  .text-wrapper p {
    margin: 10px 0 20px;
    font-size: 16px;
    line-height: 28px;
    color: #999;
  }

  .left-text {
    padding-left: 10%;
  }
}

.image1 {
  background: url("../../../assets/archersmart/product/aps/image1.png") no-repeat right / 841px;
  height: 511px;
  top: 50%;
  margin-top: -400px;
}

.image2 {
  background: url("../../../assets/archersmart/product/aps/image3.png") no-repeat left / 800px;
  height: 474px;
  top: 50%;
  margin-top: -366px;
}

.image3 {
  padding-right: 10%;
  background: url("../../../assets/archersmart/product/aps/image4.png") no-repeat right / 639px;
  background-origin: content-box;
  height: 500px;
  top: 50%;
  margin-top: -250px;
}

.image4 {
  background: url("https://t.alipayobjects.com/images/T1lyJkXg4aXXXXXXXX.png") no-repeat center / 615px;
  height: 364px;
  margin: auto;
}

.text-wrapper-bottom {
  text-align: center;
  margin: 10% auto 40px;
}

.text-wrapper-bottom p {
  margin: 20px auto;
  font-size: 16px;
  line-height: 28px;
  color: #999;
}

@keyframes upDownMove {
  to {
    transform: translateY(10px);
  }
}